<div class="background">
  <div class="container">
    <div class="row">
      <!-- Metinler için 3/4'lük kısım -->
      <div class="col-md-8">
        <h2>{{service.header}}</h2>
        <p>
          {{service.description}}
        </p>
      </div>
      <!-- Fotoğraf için 1/4'lük kısım -->
      <div class="col-md-4">
        <img
          src="{{service.imageUrl}}"
          alt="Örnek Fotoğraf"
          class="custom-img"
        />
        <br />
        <br />
        <br /><br /><br />
        <h3>Diğer Hizmetler</h3>
        <!-- Hizmetler listesi -->
        <ul>
          <li><a href="sayfa1.html">Responsive Tasarım</a></li>
          <li><a href="sayfa2.html">Web Geliştirme</a></li>
          <li><a href="sayfa3.html">Mobil Uygulama Geliştirme</a></li>
          <li><a href="sayfa4.html">SEO Danışmanlığı</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
